:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #1f1f2085, #2e4153, #1f1f2085);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  width: max-content;
  cursor: pointer;
}

.active {
  background-color: olive;
  color: beige;
}