:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%; /* Asegura que el contenedor siempre tenga altura */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita desbordamientos laterales */
}

body {
  background: linear-gradient(135deg, #1f1f2085, #2e4153, #1f1f2085);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
  display: block; 
}

.btn {
  width: max-content;
  cursor: pointer;
  transition: transform 0.2s ease; 
}

.btn:active {
  transform: scale(0.95);
} 

.active {
  background-color: olive;
  color: beige;
}

/* Estilo para el 404 o mensajes de error rápidos */
h2 {
  text-align: center;
  color: white;
  margin-top: 2em;
} 